
@media only screen and (max-width: 770px) {
    .foot-first-row{
        text-align: center;
    }

    #category{
        overflow-x: scroll;
    }

}

@media only screen and (max-width: 992px) {

    .foot-part1{
        border-bottom: 2px solid #5e5e5e;
        border-right: none;
    }

    

.nav-item{
    width: fit-content;
    margin: auto;

}

.navbar-collapse{
    opacity: 0;
    transition: 0.5s;
}


.show{
 opacity: 1;
    position: static;
}


}

@media only screen and (max-width: 545px) {

    /*                .product{
                        width: 9.5rem;
                        overflow: hidden;
                    }
    
                    .ellipsis {
                        font-size: 9px;
                        margin: 0;
    
                    }
    
                    .review{
                        font-size: 6px;
                        display: flex;
                        align-items: center;
                        gap: 2px;
                        justify-content: center;
                    }
                    .review span{
                        font-size: 8px;
                    }
                    
                    .product span{
                        font-size: 9px;
                    }
                    
                    .price{
                        font-size: 10px;
                    }*/

    /*                .categ h6{
                        font-size: 0.6rem;
                    }.categ img{
                        height:  3rem;
                    }*/

    .allproducts{
        /*height: 75vh;*/
    }

    #location div{
        height: 10rem !important;
    }

}

@media only screen and (max-width: 450px)
{
.card img{
    height: 6.5rem;
}

.categ img{
        height: 3.5rem;
}
}
